<!DOCTYPE html>
<html>
<head>
    <title>SafeHome Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/tracker_icon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tracker.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <div class="d-flex justify-content-end pe-3 pt-3">
        <span class="nav-link">
            {% if 'email' in session %}
                Hi! {{ session['email'] }}
            {% endif %}
        </span>
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </div>
<main role="main" class="container extra-bottom">
    <div class="py-5 text-center">
        <h2>SafeHome Tracker</h2>
        <p class="lead">Your one-stop solution for home safety tracking.</p>
    </div>

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Trends</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Route</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Help</a>
    </nav>

    <div id="content" class="mt-4">
        <!-- Content will be dynamically injected here -->
    </div>
</main>


<div id="mapContainer" style="height: 200px; width: 300px">
    {{ map_html|safe }}
</div>

<!--
<div id="mapContainer" style="height: 300px; width: 5300px"></div>

<button id="runButton">Show Map</button>

<script>
    document.getElementById('runButton').addEventListener('click', function() {
        // 使用 AJAX 请求调用 Flask 后端 API
        fetch('/run_script')
            .then(response => response.json())
            .then(data => {
                // 在页面上显示地图
                document.getElementById('mapContainer').innerHTML = data.result;
            })
            .catch(error => console.error('Error:', error));
    });

    function initLeafletMap(mapData) {
        // 使用 Leaflet 初始化地图
        var map = L.map('mapContainer').setView([51.505, -0.09], 13);  // 设置中心点和缩放级别
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);  // 添加地图图层
    }
    
</script>
-->

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted"><small>SafeHome Tracker application developed by SafeHome Team.</small></span>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='scripts/tracker.js') }}"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</body>
</html>
